{% load static %}
{% include "navbar.html" %}
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="static https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        </head>

<body>
  <div class = "container contentform">

    <div class= "row" style="padding: 25px;">
    <div>
        <h1 class="green3">Peraturan</h1>
        <p class="white" style="text-align: justify;">1. Donatur wajib menggunakan e-mail valid untuk keperluan konfirmasi
        <br>2. Harap transfer sesuai dengan nominal yang telah diisi pada website</p> <br>
        <h1 class="green3">Lengkapi data di bawah ini</h1> 
        <div>
            <form action="" method="POST">
            <div class="green3">
                {% csrf_token %}
                {{ formulir }}
            </div>
            <br>
            <h1 class="green3">Instruksi Pembayaran</h1>
            <br>
            <div class="card m-6 magnify" style="padding: 3vw;">
                <tr>
                    <p class="grey">Pembayaran dilakukan ke rekening a/n CROWDVID</p>
                    <h1 class="green1">BCA - 4988008999</h1>
                </tr>
            </div>
            <br>
                <div class="center">
                    <br>
                    <input type = "submit" value="SELESAI" class="btn ma"> 
                </div>
            </form>
        </div>
    </div>
    </div>

  </div>
     

  
</body>
{% include "footer.html" %}
</html>