@import url('https://fonts.googleapis.com/css?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.contenthome {
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    margin-bottom: 50px;
}

.tks{
    font-size: 3vw;
    padding-left: 30vw;
    padding-block-start: 8vw;
}

.center{
    text-align: center;
}

.tks2{
    font-size:2vw;
    padding-left: 30vw;
    text-align: justify;
    padding-block-end: 11vw;
}
.contentform {
    background-color: #DFBEBE;
}

.box {
    background-color: #DFBEBE;
    margin-top: 25px;
    margin-bottom: 5px;
    padding: 15px;
}

.magnify {
    transition: transform .3s;
}

h1 {
    font-family: 'Days One', sans-serif;
}

h3 {
    font-family: 'Days One', sans-serif;
}

.responsive {
    max-width: 100%;
    height: auto;
}

.green1 {
    color: #AEC8C2;
}

.green2 {
    color: #7D9A93;
}

.green3 {
    color: #61897F;
}

.grey {
    color: #B6B6B6;
}

.red {
    color: #C17474;
}

.redbig {
    color: #C17474;
    font-size: 50px;
}

.white {
    color: white;
}


.footer {
    padding: 15px;
    align-self: flex-end;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #AEC8C2;
    color: white;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
  }

.ma{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  font-size: 2vw;
  background-color: #DFBEBE;
}

.site-form input, .site-form textarea{
    display: block;
    font-family: 'Montserrat';
    width: 100%;
    border: 0px;
    padding-inline-end: 10px;
}

/* screen size is 601px wide or more */
@media screen and (min-width: 600px) {
    .container {
        max-width: 500px;
    }
    .magnify:hover {
        transform: scale(1.05);
    }
    h1 {
        font-size: 30px;
    }
  }
  
  /* screen size is 600px wide or less */
  @media screen and (max-width: 600px) {
    .container {
        max-width: 350px;
    }
    .contenthome {
        font-size: 3.4vw;
        text-align: left;
    }
    h1 {
        font-size: 5vw;
    }
    h3 {
        font-size: 4vw;
    }
    .redbig {
        color: #C17474;
        font-size: 35px;
    }
    .footer p {
        font-size: 2vw;
      }
  }