@import url('https://fonts.googleapis.com/css?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

div.content {
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    height: 100%;
}

h1 {
    font-family: 'Days One', sans-serif;
}

h2 {
    font-family: 'Days One', sans-serif;
}

/* screen size is 601px wide or more */
@media screen and (min-width: 600px) {
    div.content {
        margin-right: 200px;
        margin-left: 200px;
    }

    h1 {
        font-size: 30px;
    }
  }
  
  /* screen size is 600px wide or less */
  @media screen and (max-width: 600px) {
      h1 {
          font-size: 10vw;
      }
  }