{% extends "base.html" %}
{% load static %}
{% block meta %}
  <title>CROWD-VID | KRITIK & SARAN</title>
{% endblock meta %}
{% block content %}

<div class="container contentform">
    <div class="container">
        <br>
        <h1 class="green3">Kritik & Saran</h1><br>

        <form class="site-form" action="" method="POST">
            <div class="green3">
                {% csrf_token %}
                {{ form }}
            </div>
            <div class = "centre-items" style = "margin-top: 2%">
                <input type = "submit" class="btn center ma" value="SELESAI"> 
            </div>
        </form><br>

    </div>
</div>

{% endblock content %}