{% extends "base.html" %}
{% load static %}
{% block meta %}
  <title>display</title>
{% endblock meta %}
{% block content %}
<div class="container contentform" style="padding-left: 25px; padding-right: 25px;">
    <h1 class="green3"><br>Testimoni</h1>
    <p><a class="green3" href="{% url 'testimoni:testimoni' %}">Klik disini</a></p>

    {% if form %}
        {% for formulir in form %}
            <div class="card m-5" style="padding: 20px; border-radius: 30px;">
                <tr>
                   <img src="{% static '{{formulir.img}}' %}" alt="">
                    <h1 class="green2">{{formulir.nama}}</h1>
                    <p class="green2">{{formulir.pekerjaan}}</p>                
                    <p class="grey">{{formulir.ulasan}}</p>
                </tr>
            </div>
        {% endfor %}
    {% endif %}
    <br>
</div>
{% endblock content %}